:root{
  --primary-color: #77530a;
  --secondary-color: #ffd277;
  --highlight-color: #ff9901;
  --text-light: #ffeaaa;
  --text-dark: #ffd277;
  --background-color: rgb(34, 37, 41);
  --card-background-color: rgba(58, 58, 58, 0.483);
  --button-hover-background: rgba(0, 0, 0, 0.842);
  --text-yellow:darkgoldenrod;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    --animate-duration: 2000ms;
    --animate-delay: 5s;
  }
  
  body {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    bottom: 0;
    width: 100%;
    color: var(--text-yellow);
    margin-top: auto;
  }
  .navbar-logo {
    width: 400px;
    height: auto;
    filter: drop-shadow(0px 0px 25px #ffffffc9);
    transition: filter 0.3s ease, 0.3s ease;
  }
  
  .navbar-logo:hover {
    filter: drop-shadow(0px 0px 35px #ffffff);
  }
  
  .navlink {
    color: darkgoldenrod;
    transition: filter 0.3s ease, 0.3s ease;
  }
  .navlink:hover {
    color: rgb(238, 199, 102);
    filter: drop-shadow(0px 0px 15px #ffffff);
  }
  .active-link {
    color: rgb(255, 230, 153);
  }
  
  .card {
    transition: transform 0.6s ease, 0.3s ease;
    background-color: rgba(58, 58, 58, 0.483);
    color: rgb(255, 219, 129);
    overflow: hidden;
  }
  
  .card:hover {
    opacity: 100%;
  
    
  }
  



  .loader-overlay {
    position: fixed;          /* Para que cubra toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* Fondo oscuro con algo de transparencia */
    display: flex;            /* Para alinear elementos con flexbox */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
    z-index: 9999;            /* Asegura que se muestre encima de todo lo demás */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
    border-top-color: #3498db;  /* Puedes cambiar el color del borde superior */
}



  
  /*LOADER*/
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(24px, 0);
    }
  }
  
  /*BOTON CARD*/
  
  .Btn {
    margin-top: 10px;
    /* width: 100px; */
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      #77530a,
      #ffd277,
      #77530a,
      #77530a,
      #ffd277,
      #77530a
    );
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btn::before {
    position: absolute;
    content: "INFO";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }
  
  .cardimg {
    transition: transform 0.6s ease, 0.3s ease;
  }
  
  .cardimg:hover {
    transform: scale(1.1);
    overflow: hidden;
  }
  
 
  .nfd{
    color: #ffd277;
  }

  

.character-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 1.6;
}
.character-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 1.6;
}
.character-info p {
  margin-right: 20px;
  color:#ffd277; 
  font-weight: bold; 
}
.info {
  color: darkgoldenrod; 
}
.character-info p strong {
  color: #ffd277; 
}

.character-info p .character-data {
  color: #ffd277; 
  font-weight: normal; 
}




.vehicle-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 1.6;
}
.vehicle-info {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
font-size: 18px;
line-height: 1.6;
}
.vehicle-info p {
margin-right: 20px;
color:#ffd277; 
font-weight: bold; 
}
.vehicle-info p strong {
  color: #ffd277; 
}

.vehicle-info p .vehicle-data {
  color: #ffd277; 
  font-weight: normal; 
}

  /* sable laser CSS */
  .lightsaber-img {
    width: 100%;
    height: 78px;
    object-fit: cover;
    transform: scaleX(-1);
    animation: glowAnimation 1.5s infinite alternate; /* Animación para la parte luminosa */
    filter: brightness(1);
    border-radius: 5px; 
}

/* Crear la animación */
@keyframes glowAnimation {
  0% {
      filter: brightness(1);  /* Brillo normal */
  }
  50% {
      filter: brightness(2);  /* Aumenta el brillo */
  }
  100% {
      filter: brightness(1);  /* Brillo normal */
  }
}



.home-container {
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.welcome-message h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-out;
}

.star-wars-text {
  text-align: center;
  color: white;
  animation: moveText 40s linear infinite; 
}

.star-wars-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  animation: txtAnimation 5s ease-out forwards;
}

.star-wars-subtitle {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 20px;
  animation: txtAnimation 5s ease-out forwards;
}

.star-wars-scroll {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 20px;
  animation:txtAnimation 40s linear infinite; 
  text-align: center; 

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveText {
  0% {
    transform: perspective(500px) rotateX(30deg) translateY(100vh); 
    opacity: 1;
  }
  100% {
    transform: perspective(500px) rotateX(30deg) translateY(-80vh); 
    opacity: 0;
  }
}

@keyframes txtAnimation {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
